header {
    align-content: center;
    font-size: 1.5rem;
    font-family: monospace;
    height: 100vh;
    color: white;
    background-color: aqua;
}

header h1 {
    color: white;
    margin: 0;
}

body {
    margin: 0;
}

.b {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.b:hover {
    background-color: darkblue;
}

img {
    height: 250px;
}

h1 {
    font-size: 2rem;
    color: blue
}

section {
    height: 100vh;
    border: 1px solid grey;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

.sub {
    color: green;
    cursor: pointer;
}

.sub:hover {
    background-color: blue;
}

input {
    border-radius: 5px;
    border: 2px solid lightgray;
    height: 25px;
}